<h1>Product</h1>
<div class="show_product">
  <h2><%= @product.name %></h2>
  <%= image_tag @product.image_filename %>
  <p><strong>Description: </strong> <%= @product.description%></p>
  <p><strong>Price:</strong> $<%= @product.price%></p>
</div>