<div class="product">
  <h2><%= link_to product.name, product %></h2>
  <%= image_tag product.image_filename %>
  <p><strong>Description: </strong> <%= product.description%></p>
  <p><strong>Price:</strong> $<%= product.price%></p>
</div>